#include <Resources.h>

ID ICON "cinder_app_icon.ico"

RES_SHADER_FBO_FRAG_120
RES_SHADER_FBO_VERT_120
RES_SHADER_VBO_FRAG_120
RES_SHADER_VBO_GEOM_120
RES_SHADER_VBO_VERT_120
RES_SHADER_FBO_FRAG_150
RES_SHADER_FBO_VERT_150
RES_SHADER_VBO_FRAG_150
RES_SHADER_VBO_GEOM_150
RES_SHADER_VBO_VERT_150
